/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Oct 14, 2022, 7:54:05 AM
    Author     : admin
*/

.container{
    margin-left: 150px;
    margin-right: 150px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;

}
#head{
    font-weight: normal;
}
.header1{
    display: flex;
    justify-content: space-between;
        margin-bottom: 30px;

}
.header1 strong{
    font-size: 15px;
    font-weight: normal;
}
.header2{
    display: flex;
    justify-content: space-between;
    background-color: #F3F3F3;
    padding-bottom: 10px;
    padding-top: 10px;
}
#homee{
    margin-left: 20px;
}
#homee a{
    text-decoration: none;
}
.choose{
    margin-right: 20px;
    font-size: 11px;
    font-weight: 700;
}
.choose a {
    background-color: #0fcc45;
    padding: 3px;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.choose span {
    background-color: #0fcc45;
    padding: 3px;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.content{
    margin-top: 50px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}
.content td{
    border-bottom: 1px solid #f0f0f0;
    background-color: #fff;
    /*width: 10%;*/
}
#headertable td{
    height: 23px;
    background-color: #6b90da;
    text-align: left;
}
#last2{
    font-size: 13px;
    font-weight: 100;
}
#last2 a {
    color: #6b90da;
        text-decoration: none;

}
#last3{
    font-size: 13px;
    font-weight: 100;   
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
#last3 p a {
    color: #6b90da;
    text-decoration: none;
}
