/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Oct 13, 2022, 12:29:26 AM
    Author     : admin
*/
.container{
    margin-left: 180px;
    margin-right: 180px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;

}
.header1{
    display: flex;
    justify-content: space-between;
}
#head{
    font-weight: normal;
}
.header1 strong{
    font-size: 15px;
    font-weight: normal;
}
.header2{
    display: flex;
    justify-content: space-between;
    background-color: #F3F3F3;
    padding-bottom: 10px;
    padding-top: 10px;
}
#homee{
    margin-left: 20px;

}
#homee a{
    text-decoration: none;

}
.choose{
    margin-right: 20px;
    font-size: 11px;
    font-weight: 700;
}
.choose a {
    background-color: #0fcc45;
    padding: 3px;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.choose span {
    background-color: #0fcc45;
    padding: 3px;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.nd{
    font-size: 14px;
}
.nd h2{
        font-weight: normal;

}
.content1 h2{
    margin-top: 50px;
    font-size: 30px;
}
.timetable {
    font-size: 14px;
}
.date{
    text-indent: initial;
}
.date tr{
    height: 23px;
    background-color: #6b90da;
    text-align: left;
}
.date th{
    font-weight: normal;
}

tbody td{
    box-sizing: border-box;
    border-bottom: 1px solid #f0f0f0;
    background-color: #fff;
    width: 13.5%;
}
#materials{
    background-color: #f0ad4e;
    color: white;
    font-size: 75%;
    border-radius: 0.25em;
    text-align: center;
    font-weight: 700;
    padding: 0.2em 0.6em 0.3em;
    text-decoration: none;

}
#meet{
    background-color: #777;
    font-weight: 700;
    font-size: 75%;
    border-radius: 0.25em;
    padding: 0.2em 0.6em 0.3em;
    color: white;
    text-decoration: none;
}
#sub{
    text-decoration: none;
    color: cornflowerblue;
}
#time{
    background-color: #5cb85c;
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
.last{
    font-size: 13px;
    font-weight: 100;
}
#last2{
    font-size: 13px;
    font-weight: 100;
}
#last2 a {
    color: #6b90da;
        text-decoration: none;

}
#last3{
    font-size: 13px;
    font-weight: 100;
}
#last3 p a {
    color: #6b90da;
    text-decoration: none;
}